.modal {
  --modal-bg: var(--color-scheme-background, #fff);
  --modal-radius: 40px;

  --modal-max-w: 335px;
  --modal-max-h: 695px;

  --modal-padding-y: 48px;
  --modal-padding-x: 20px;

  --modal-overflow: auto;

  --modal-close-size: 32px;
  --modal-close-pad: 4px;
  --modal-close-top: 20px;
  --modal-close-right: 20px;

  width: 100%;
  max-width: var(--modal-max-w);

  height: var(--modal-max-h);
  max-height: var(--modal-max-h);
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

.title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 32px;
  line-height: 1.4;
  letter-spacing: 0.01em;
  text-align: center;
  color: var(--color-scheme-text);
}

/* TABLET */
@media (min-width: 768px) {
  .modal {
    --modal-max-w: 704px;
    --modal-max-h: 755px;

    --modal-padding-y: 64px;
    --modal-padding-x: 32px;

    --modal-close-top: 32px;
    --modal-close-right: 32px;

    width: 100%;
    max-width: var(--modal-max-w);

    height: var(--modal-max-h);
    max-height: var(--modal-max-h);
  }

  .title {
    font-size: 48px;
    line-height: 1.2;
  }
}

/* DESKTOP */
@media (min-width: 1440px) {
  .modal {
    --modal-max-w: 768px;
    --modal-max-h: 780px;

    --modal-padding-y: 64px;
    --modal-padding-x: 64px;

    --modal-close-top: 28px;
    --modal-close-right: 28px;

    width: 100%;
    max-width: var(--modal-max-w);

    height: var(--modal-max-h);
    max-height: var(--modal-max-h);
  }
}

