.wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.title {
  font-family: var(--second-family);
  font-weight: var(--fw-medium);
  font-size: 24px;
  line-height: 1.2;
  text-align: center;
}