.form {
    border-radius: 40px;
    padding: 64px 0px;
    max-width: 295px;
    height: 484px;
    /* max-width: 768px; */
    background-color: var(--color-scheme-background);
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.input {
    border: 2px solid var(--opacity-transparent);
    border-radius: 12px;
    padding: 8px 12px;
    width: 295px;
    height: 37px;
    background-color: var(--opacity-neutral-darkest-5);
    font-family: var(--font-family);
    font-size: 16px;
    line-height: 150%;
    color: var(--color-scheme-text);
}


.input:focus,
.input:hover {
    border: 2px solid var(--color-scheme-accent);
}

.fieldset {
    border: none;
    padding: 0;
    margin: 0 0 24px 0;
    /* width: 100%; */
    /* min-width: 0; */
}

.legend {
    display: block;
    width: 100%;
    max-width: 640px;
    text-align: center;
    margin-bottom: 24px;
    padding: 0;
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 48px;
    line-height: 120%;
    letter-spacing: 0.01em;
    text-align: center;
    color: var(--color-scheme-text);
}

.addTaskInputSet {
    width: 295px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.addTaskInput {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.addTaskInput label {
    font-family: var(--font-family);
    font-size: 16px;
    line-height: 150%;
    color: var(--color-scheme-text);
}

@media only screen and (min-width: 768px) {
    .form {
        padding: 64px 0px;
        width: 640px;
        height: 441px;
    }

    .input {
        width: 640px;
    }
}


@media only screen and (min-width: 1336px) {
    .form {
        padding: 64px;
        width: 768px;
        height: 472px;
    }

    .input {
        height: 40px;
    }
}



.error {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    line-height: 160%;
    color: var(--color-red);
}

.inputError {
    border: 1px solid var(--color-red);
}

.saveBtn {
    margin: 0 auto;
}