.form {
    border-radius: 40px;
    padding: 64px;
    width: 768px;
    height: 472px;
    max-width: 768px;
    background-color: var(--color-scheme-background);
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.fieldset {
    border: none;
    padding: 0;
    margin: 0 0 24px 0;
    min-width: 0;
}

.legend {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 24px;
    padding: 0;
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 48px;
    line-height: 120%;
    letter-spacing: 0.01em;
    text-align: center;
    color: var(--color-scheme-text);
}

.addTaskInputSet {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.addTaskInput {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.addTaskInput label {
    font-family: var(--font-family);
    font-size: 16px;
    line-height: 150%;
    color: var(--color-scheme-text);
}

.input {
    border: 2px solid var(--opacity-transparent);
    border-radius: 12px;
    padding: 8px 12px;
    width: 640px;
    height: 40px;
    background-color: var(--opacity-neutral-darkest-5);
    font-family: var(--font-family);
    font-size: 16px;
    line-height: 150%;
    color: var(--color-scheme-text);
}

.input:focus {
    border: 2px solid var(--color-scheme-accent);
}

.error {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    line-height: 160%;
    color: var(--color-red);
}

.inputError {
    border: 1px solid var(--color-red) !important;
}

.saveBtn {
    margin: 0 auto;
}