.container_tab {
  border: 1px solid var(--opacity-transparent);
  border-radius: 100px;
  padding: 4px;
  width: 335px;
  height: 50px;
  background: var(--color-scheme-foreground);
  margin-top: 32px;
  position: relative;
  display: flex;
  overflow: hidden;
  touch-action: pan-y;
  margin-left: auto;
  margin-right: auto;
}

.slider {
  position: absolute;
  top: 4px;
  bottom: 4px;
  width: 140px;
  border-radius: 100px;
  background: var(--color-scheme-foreground-alt);
  transition: transform 0.3s ease-in-out;
  z-index: 0;
}

.slider_baby {
  transform: translateX(0);
}

.slider_mom {
  transform: translateX(180px);
}

.button {
  position: relative;
  z-index: 1;
  width: 162px;
  height: 42px;
  background-color: transparent;
  border-radius: 100px;
  padding: 10px 24px;
  border: 1px solid var(--opacity-transparent);
  box-shadow: none;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  cursor: pointer;
  color: var(--color-scheme-text);
  transition:
    background-color 0.35s ease,
    font-weight 0.35s ease,
    line-height 0.35s ease;
}

.container_tab:has(.slider_baby) .button:first-of-type {
  background-color: var(--color-scheme-foreground-alt);
  font-weight: 500;
  line-height: 1.6;
}

.container_tab:has(.slider_mom) .button:last-of-type {
  background-color: var(--color-scheme-foreground-alt);
  font-weight: 500;
  line-height: 1.6;
}

@media (min-width: 768px) {
  .container_tab {
    width: 704px;
  }

  .slider {
    width: 340px;
  }

  .slider_mom {
    transform: translateX(350px);
  }

  .button {
    width: 348px;
  }
}

@media (min-width: 1440px) {
  .container_tab {
    width: 576px;
    height: 54px;
    margin-left: auto;
    margin-right: auto;
  }

  .slider {
    width: 270px;
    height: 46px;
  }

  .slider_mom {
    transform: translateX(292px);
  }

  .button {
    width: 284px;
    height: 46px;
  }
}
