.container_tab {
  border: 1px solid var(--opacity-transparent);
  border-radius: 100px;
  padding: 4px;
  width: 335px;
  height: 50px;
  background: var(--color-scheme-foreground);
  margin-top: 32px;
}

.button {
  border: 1px solid var(--opacity-transparent);
  border-radius: 100px;
  padding: 10px 24px;
  width: 162px;
  height: 42px;
  background: var(--color-scheme-foreground-alt);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.6;
  color: var(--color-scheme-text);
}

.button_non_active {
  border: 1px solid var(--opacity-transparent);
  border-radius: 100px;
  padding: 10px 24px;
  width: 162px;
  height: 42px;
  background: var(--opacity-transparent);
  font-family: var(--font-family);
  font-weight: 400;
  line-height: 1.5;
  color: var(--color-scheme-text);
  border-bottom: none;
}
