.container_mom {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 16px 20px 24px;
}

@media (min-width: 1440px) {
  .container_mom {
    display: flex;
    flex-direction: row;
    gap: 24px;
    padding: 16px 32px 24px;
  }
  .container_wrap {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
}
