.container_mom {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 16px 12px 24px;
}

.container_wrap {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

@media (min-width: 768px) {
  .container_mom {
    padding: 16px 0 24px 0;
  }
}

@media (min-width: 1440px) {
  .container_mom {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
}