.container_feel {
  border: 0px solid var(--color-scheme-border);
  border-radius: 32px;
  padding: 24px;
  width: 311px;
  background: var(--color-scheme-foreground);
}

.title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 0.01em;
  color: var(--color-scheme-text);
  margin-bottom: 8px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 8px;
  margin-bottom: 8px;
}

.item {
  border: 1px solid var(--opacity-transparent);
  border-radius: 100px;
  padding: 4px 10px;
  height: 27px;
  background: var(--opacity-neutral-darkest-5);
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 12px;
  line-height: 1.6;
  color: var(--color-scheme-text);
}

.text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: var(--color-scheme-text);
}

@media (min-width: 768px) {
  .container_feel {
    width: 704px;
  }
}

@media (min-width: 1440px) {
  .container_feel {
    width: 650px;
    height: 194px;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--color-pastel-pink-dark)
      var(--color-scheme-foreground);
  }

  .title {
    font-size: 20px;
  }

  .item {
    height: 30px;
    font-size: 14px;
  }

  .text {
    font-size: 16px;
  }
}
