.wrapper {
  display: flex;
  justify-content: center;
}

.modalTask {
  width: 335px;
  border-radius: 40px;
  padding: 0;
  /* background: transparent; */
  box-shadow: none;
}

@media only screen and (min-width: 768px) {
  .modalTask {
    width: 704px;
  }
}

@media only screen and (min-width: 1336px) {
  .modalTask {
    width: 768px;
  }
}