.modal {
  --modal-bg: var(--color-scheme-background, #fff);
  --modal-radius: 40px;

  --modal-max-w: 335px;
  --modal-max-h: calc(100vh - 32px);

  --modal-padding-y: 64px;
  /* --modal-padding-x: 64px; */

  --modal-overflow: auto;

  --modal-close-size: 32px;
  --modal-close-pad: 4px;
  --modal-close-top: 20px;
  --modal-close-right: 20px;
}

.wrapper {
  width: 100%;
}

/* tablet */
@media (min-width: 768px) {
  .modal {
    --modal-max-w: 704px;
    --modal-close-top: 32px;
    --modal-close-right: 32px;
    --modal-padding-x: 32px;
  }
}

/* desktop */
@media (min-width: 1440px) {
  .modal {
    --modal-max-w: 768px;
    --modal-padding-y: 64px;
    --modal-padding-x: 64px;
    --modal-close-top: 25px;
    --modal-close-right: 32px;

    /* height: var(--modal-max-h);
    max-height: var(--modal-max-h); */
  }
}

/* @media only screen and (min-width: 768px) {
  .modalTask {
    width: 704px;
  }
}

@media only screen and (min-width: 1440px) {
  .modalTask {
    width: 768px;
  }
} */