.container {
    display: flex;
    gap: 24px;
}

/* ліва колонка (список) */
.sidebar {
    width: 320px;
}

/* права колонка (деталі) */
.details {
    flex: 1;
}

/* ====== MOBILE + TABLET ====== */
@media (max-width: 1023px) {
    .container {
        flex-direction: column;
    }

    .sidebar {
        display: none;
    }
}