.container_tips {
  border: 0px solid var(--color-scheme-border);
  border-radius: 32px;
  padding: 24px;
  width: 335px;
  background: var(--color-scheme-foreground);
}

.title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 0.01em;
  color: var(--color-scheme-text);
}

.item {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.container_wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
  align-items: center;
}

.container_svg {
  fill: var(--color-scheme-2-text);
  width: 24px;
  height: 24px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.item_title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.6;
  color: var(--color-scheme-text);
}

.item_text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: var(--color-scheme-text);
  margin-left: 32px;
}

@media (min-width: 768px) {
  .container_tips {
    width: 704px;
  }

  .title {
    margin-bottom: 8px;
  }
}

@media (min-width: 1440px) {
  .container_tips {
    width: 650px;
    height: 322px;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-color: var(--color-scheme-accent) transparent;
  }

  .title {
    font-size: 20px;
  }

  .item_title {
    font-size: 16px;
  }

  .item_text {
    font-size: 16px;
  }
}
