.userBar {
  display: flex;
  justify-content: space-between;
}

.userInfo {
  display: flex;
  gap: 8px;
}

.avatar {
  border-radius: 50%;
  object-fit: cover;
}

.name {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 12px;
  line-height: 160%;
  color: var(--color-scheme-text);
}

.email {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 160%;
  color: var(--color-scheme-text);
}

.logoutBtn {
  background: transparent;
  width: 40px;
  height: 40px;
}

@media only screen and (min-width: 1440px) {
  .name {
    font-size: 14px;
  }

  .email {
    font-size: 14px;
  }
}
