.userBar {
  display: flex;
  justify-content: space-between;
}

.userInfo {
  display: flex;
  gap: 8px;
}

.avatar {
  border-radius: 50%;
  object-fit: cover;
}

.info {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 12px;
  line-height: 160%;
  color: var(--color-scheme-text);
}

.logoutBtn {
  background: transparent;
  width: 40px;
  height: 40px;
}

.logoutBtn:focus-visible {
  outline: 2px solid var(--color-scheme-foreground);
  outline-offset: 2px;
}

@media only screen and (min-width: 1440px) {
  .userBar {
    margin-top: 8px;
  }

  .userInfo {
    gap: 12px;
  }

  .info {
    font-size: 14px;
  }
}
