.left {
  padding-top: 16px;
}

.logoRow {
  display: flex;
  align-items: center;
}

.formWrap {
  min-height: calc(100dvh - 62px);
  display: grid;
  align-content: center;
  justify-items: center;
  padding: 16px 0;
}

.title {
  margin: 0 0 10px 0;
  font-size: 34px;
  font-weight: var(--fw-bold);
  text-align: center;

  max-width: 300px;
}

.desc {
  margin-bottom: 15px;
  color: var(--color-neutral-dark, #4c4c4c);
}

.devMsg {
  font-family:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
    'Courier New', monospace;

  padding: 10px 12px;
  border-radius: 12px;

  background: var(--opacity-neutral-darkest-5, rgba(0, 0, 0, 0.05));
  color: var(--color-neutral-darker, #191919);

  font-size: 12px;
  line-height: 1.5;

  margin-bottom: 30px;
}

.actions {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* desktop: split */
.right {
  display: none;
}

@media only screen and (min-width: 768px) {
  .title {
    font-size: 40px;
  }
}

@media (min-width: 1440px) {
  .page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  .left {
    padding-right: 32px;
    padding-left: 32px;
  }

  .right {
    display: block;
    position: relative;
    min-height: 100dvh;
    overflow: hidden;
    background: var(--color-scheme-foreground);
  }

  .illustration {
    object-fit: cover;
    object-position: center;
  }

  .title {
    font-size: 48px;
    max-width: 400px;
  }
}
