.overlay {
  position: fixed;
  inset: 0;
  z-index: 9999;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);

  pointer-events: all;
}

.fadeIn {
  animation: fadeIn 0.25s ease-out forwards;
}

.fadeOut {
  animation: fadeOut 0.3s ease-in forwards;
}

.player {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;

  width: 100px;
  height: 100px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.96);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.98);
  }
}

@media (min-width: 768px) {
  .player {
    width: 200px;
    height: 200px;
  }
}

@media (min-width: 1440px) {
  .player {
    width: 300px;
    height: 300px;
  }
}
