.closeButton {
  position: absolute;
  top: 16px;
  right: 16px;

  background: transparent;
  border: none;
  padding: 4px;
  cursor: pointer;
}

.closeIcon {
  display: block;
  width: 24px;
  height: 24px;
  fill: currentColor;
}

.closeButton:hover .closeIcon {
  opacity: 0.7;
}
