.page {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

/* ===== DESKTOP (1440px і більше) ===== */
@media (min-width: 1440px) {
  .grid {
    display: grid;
    grid-template-columns: 360px 1fr;
    gap: 24px;
  }

}

/* ===== TABLET + MOBILE (до 1439px) ===== */
@media (max-width: 1439px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr;
  }

  /* ховаємо */
  .grid> :nth-child(2) {
    display: none;
  }
}

/* LOADER + INFO TEXT */
.loader {
  display: grid;
  place-items: center;
  padding: 40px 0;
}

.infoText {
  text-align: center;
  color: #888;
}

/* ===== TOAST ANIMATION ===== */
.toastWrapper {
  transition: all 0.3s ease-in-out;
}

.toastEnter {
  opacity: 1;
  transform: translateY(0);
}

.toastExit {
  opacity: 0;
  transform: translateY(-10px);
}
