.fullPage {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.logo {

    padding-top: 13.5px;
    padding-bottom: 13.5px;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
}

.title {
    text-align: center;
    width: 300px;
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 36px;
    line-height: 120%;
    letter-spacing: 0.01em;
    text-align: center;
    color: var(--color-scheme-text);
}

.right_side {
    display: none;
}


/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
    .content {
        padding: 109px 112px;
    }

    .logo {
        display: flex;
        align-self: center;
    }

    .title {
        width: 480px;
        font-family: var(--second-family);
        font-weight: 700;
        font-size: 36px;
        line-height: 120%;
        letter-spacing: 0.01em;
        text-align: center;
        color: var(--color-scheme-text);
    }

    .right_side {
        display: none;
    }
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {
    .title {
        font-family: var(--second-family);
        font-weight: 700;
        font-size: 48px;
        line-height: 120%;
        letter-spacing: 0.01em;
        text-align: center;
        color: var(--color-scheme-text);
    }

    ;

    .right_side {
        display: flex;
    }
}