.card {
  background: var(--color-scheme-foreground);
  border-radius: 24px;
  width: 100%;
  max-width: 342px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.title {
  margin: 0 0 8px 0;
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 0.01em;
  color: var(--color-scheme-text);
}

.text {
  margin: 0 0 16px 0;
  color: var(--color-scheme-text);
}

.lead {
  /* font-family: var(--font-family); */
  font-weight: 600;
  font-size: 14px;
  line-height: 160%;
}

.desc {
  /* font-family: var(--font-family); */
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
}

.content>.btn {
  width: fit-content;
  align-self: center;
  --btn-height: 42px;
  --btn-font-size: 14px;
  /* font-family: var(--font-family); */
  font-weight: 500;
  line-height: 160%;
}

/* tablet */
@media (min-width: 768px) {
  .card {
    border-radius: 32px;
    padding: 24px;
    width: min(704px, 100%);
    max-width: none;
  }
}

@media (min-width: 1440px) {
  .card {
    height: 210px;
  }

  .text {
    height: 50px;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-color: var(--color-scheme-accent) transparent;
    margin-bottom: 24px;
  }

  .content>.btn {
    width: fit-content;
    height: 46px;

  }

  .title {
    font-size: 24px;
  }

  .lead {
    font-size: 16px;
  }

  .desc {
    font-size: 16px;
  }
}