.taskItemDate {
    padding-left: 26px;
}

.taskItemText {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    font-family: var(--font-family);
    font-size: 14px;
    line-height: 160%;
    color: var(--color-scheme-text);
}

.checkboxWrapper {
    position: relative;
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.taskItemCheckbox {
    appearance: none;
    -webkit-appearance: none;
    width: 100%;
    height: 100%;
    margin: 0;
    border: 1px solid var(--opacity-transparent);
    border-radius: 4px;
    background: var(--opacity-neutral-darkest-5);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.taskItemCheckbox:checked {
    border-radius: 4px;
    background-color: var(--color-neutral-darkest);
}

/* .taskItemCheckbox:checked::before {
    transform: scale(1);
} */

.taskItemCheckbox:disabled {
    opacity: 0.7;
    cursor: not-allowed;
}

.checkMarkIcon {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 14px;
    height: 11px;
    fill: white;
    stroke: white;
    pointer-events: none;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5);
    transition: opacity 0.2s ease-in-out, transform 0.2s cubic-bezier(0.4, 0.0, 0.2, 1);
}

.taskItemCheckbox:checked+.checkMarkIcon {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}








/* === Стилі для закресленого тексту === */
/* Це потрібно додати в React компонент умовно */
.textDone {
    text-decoration: line-through;
}