.inputFields {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 48px;
}

.label {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.dateLabel {
  margin-bottom: 24px;
}

.error {
  color: #c60000;
}

/* =========================
   TEXT INPUTS
========================= */

.field {
  width: 100%;
  height: 37px;
  padding: 8px 12px;

  border-radius: 12px;
  border: 2px solid var(--opacity-transparent);
  background: var(--opacity-neutral-darkest-5);
}

.field:hover,
.field:focus {
  border-color: #ffcbd3;
}
/* =========================
   DATE PICKER
========================= */

.dateWrapper {
  position: relative;
  width: 100%;
}

.dateInput {
  width: 100%;
  height: 44px;
  padding: 0 40px 0 16px;

  font-size: 16px;
  font-family: inherit;

  background: #f2f2f2;
  border-radius: 12px;
  border: 2px solid transparent;
  cursor: pointer;
}

.dateInput:hover,
.dateInput:focus {
  border-color: #ffcbd3;
}

/* .dateIcon {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: rgba(0, 0, 0, 0.6);
} */

.dateIcon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 19px;
  height: 18px;
  pointer-events: none;
}

.dateIcon::before {
  content: '';
  display: block;
  width: 8px;
  height: 8px;

  border-right: 2px solid black;
  border-bottom: 2px solid black;

  transform: rotate(45deg);
  margin: 4px auto 0;
  transition:
    transform 0.2s ease,
    margin-top 0.2s ease;
}

.dateIconOpen::before {
  transform: rotate(225deg);
  margin-top: 8px;
}
/* =========================
   BUTTONS
========================= */

.buttonContainer {
  display: flex;
  gap: 16px;
  justify-content: start;
}

.saveChanges {
  font-family: 'Lato', sans-serif;
  width: 159px;
  height: 38px;
  padding: 8px 20px;
  border-radius: 100px;
  border-bottom: 4px solid var(--color-scheme-accent);
  background: var(--color-scheme-foreground-alt);
  transition:
    background 0.3s ease,
    transform 0.2s ease;
}

.saveChanges:hover {
  background: var(--color-scheme-foreground);
  border-bottom: 4px solid var(--opacity-neutral-darkest-15);
}

.saveChanges:active {
  background: var(--color-scheme-accent);
  transform: translateY(2px);
  border-bottom-width: 2px;
}

.saveChanges:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.undoChanges {
  font-family: 'Lato', sans-serif;
  width: 162px;
  height: 38px;
  padding: 8px 20px;

  border-radius: 100px;
  border-bottom: 4px solid var(--opacity-neutral-darkest-15);
  background: var(--opacity-neutral-darkest-5);
  transition:
    background 0.3s ease,
    transform 0.2s ease;
}

.undoChanges:hover {
  background: var(--color-scheme-background);
  border-bottom: 4px solid var(--opacity-neutral-darkest-15);
}

.undoChanges:active {
  background: var(--color-neutral-light);
  transform: translateY(2px);
  border-bottom-width: 2px;
}

.changePasswordWrapper {
  margin-top: 32px;
  display: flex;
  justify-content: center;
}

/* MODAL  */
.modalSize {
  max-width: 360px;
}
.modalPosition {
  padding: 64px 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 48px;
}

.modalText {
  font-family: 'Comfortaa', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0.01em;
  text-align: center;
  color: #000;
}
.modalActions {
  display: flex;
  gap: 8px;
}

/* =========================
   REACT DATEPICKER GLOBAL FIXES
========================= */
:global(.react-datepicker__month) {
  min-height: 190px;
}

:global(.react-datepicker-wrapper),
:global(.react-datepicker__input-container) {
  width: 100%;
}

/* =========================
   TABLET (≥ 768px)
========================= */

@media only screen and (min-width: 768px) {
  .modalSize {
    max-width: 540px;
  }
  .label,
  .field,
  .dateWrapper {
    width: 704px;
  }

  .buttonContainer {
    display: flex;
    gap: 16px;
    justify-content: flex-end;
  }

  .modalActions {
    gap: 24px;
  }
  .modalText {
    font-size: 36px;
  }

  .changePasswordWrapper {
    justify-content: flex-end;
  }
}

/* =========================
   DESKTOP (≥ 1440px)
========================= */

@media only screen and (min-width: 1440px) {
  .fullLowerContent {
    max-width: 583px;
  }

  .label,
  .field,
  .dateWrapper {
    width: 580px;
  }
  .modalSize {
    max-width: 800px;
  }
}

.fieldError {
  border: 1px solid #c60000;
  color: #c60000;
}
