.cards {
  display: flex;
  gap: 16px;
  width: 100%;
}

.card {
  border: 0px solid var(--color-scheme-border);
  border-radius: 32px;
  flex: 1;
  background: var(--color-scheme-foreground);
}

.content {
  padding: 16px;
}

.label {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: var(--color-scheme-text);
}

.value {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: 0.01em;
  color: var(--color-scheme-text);
}
.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}


@media (min-width: 768px) {
  .cards {
    gap: 32px;
  }
}

@media (min-width: 1440px) {
  .cards {
    gap: 32px;
    height: 127px;
  }
  .label {
    font-size: 16px;
  }
  .value {
    font-size: 56px;
  }
  

}
