.taskCardHeader {
    display: flex;
    width: 342px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.taskCard {
    border-radius: 32px;
    width: 390px;
    height: 498px;
    padding: 24px;
    background-color: var(--color-scheme-foreground);
    overflow-y: auto;
}

.taskList {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.taskCardTitle {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    letter-spacing: 0.01em;
}