.left {
  padding-top: 16px;
}

.logoRow {
  display: flex;
  align-items: center;
  margin-bottom: 90px;
}

/* form — обычный поток, БЕЗ центрирования */
.formWrap {
}

/* desktop: split */
.right {
  display: none;
}

.title {
  text-align: center;
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: var(--color-scheme-text);
  margin-bottom: 32px;
}

/* tablet */
@media (min-width: 768px) {
  .title {
    width: 480px;
  }

  .formWrap {
    min-height: calc(100dvh - 62px);

    max-width: 480px;

    margin-left: auto;
    margin-right: auto;

    padding: 96px 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

    .logoRow {
      display: flex;
      align-items: center;
      margin-bottom: 0;
    }
}

/* desktop */
@media (min-width: 1440px) {
  .page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: stretch;
  }

  .left {
    padding-left: 64px;
    padding-right: 64px;

    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .right {
    display: block;
    position: relative;
    min-height: 100dvh;
    overflow: hidden;
    background: var(--color-scheme-foreground);
  }

  .illustration {
    object-fit: cover;
    object-position: center;
  }

  .title {
    font-size: 48px;
  }

  .formWrap {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}
