/* app/diary/layout.module.css */

/* MOBILE FIRST */
.container {
    display: block;
}

/* DESKTOP */
@media (min-width: 1280px) {
    .container {
        display: grid;
        grid-template-columns: 360px 1fr;
        height: calc(100vh - 64px);
        /* якщо є header */
    }

    .list {
        border-right: 1px solid #eee;
        overflow-y: auto;
    }

    .details {
        overflow-y: auto;
        padding: 24px;
    }
}