.player {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 96px;
  height: 96px;
}

@media (min-width: 768px) {
  .player {
    width: 160px;
    height: 160px;
  }
}

@media (min-width: 1440px) {
  .player {
    width: 240px;
    height: 240px;
  }
}
