.fieldGroup {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.picker{
  width: 100%;
}

/* =========================
   SELECT
========================= */

.selectWrapper {
  width: 100%;
  margin-bottom: 24px;
}

/* =========================
   DATE PICKER
========================= */


:global(.react-datepicker-wrapper) {
  width: 100%;
  display: block;
}

:global(.react-datepicker__input-container) {
  width: 100%;
}

.datePickerWrapper {
  position: relative;
  width: 100%;
}

.dateInput {
  width: 100%;
  height: 44px;
  padding: 0 40px 0 16px;
  font-size: 16px;
  font-family: inherit;

  background: #f2f2f2;
  border-radius: 12px;
  border: 2px solid transparent;
  cursor: pointer;
}

.dateInput:hover,
.dateInput:focus {
  border-color: #ffCBD3;
}

.dateIcon {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: rgba(0, 0, 0, 0.6);
}

/* =========================
   BUTTON
========================= */

.saveButton {
  margin-top: 32px;
  width: 100%;
  height: 42px;

  border-radius: 100px;
  border-bottom: 4px solid var(--color-scheme-accent);
  background: var(--color-scheme-foreground-alt);

  padding: 10px 24px;
  transition: background 0.3s ease, transform 0.2s ease;
}

.saveButton:hover {
  background: var(--color-scheme-foreground);
  border-bottom: 4px solid var(--opacity-neutral-darkest-15);
}

.saveButton:active {
  background: var(--color-scheme-accent);
  transform: translateY(2px);
  border-bottom-width: 2px;
}

/* =========================
   RESPONSIVE
========================= */

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 1440px) {
  .saveButton {
    height: 46px;
  }

  .dateInput {
    height: 40px;
    padding: 8px 12px;
  }
}