.fieldGroup {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}
:global(.react-datepicker-popper) {
  z-index: 10;
}

.selectContainer {
  width: 335px;
  margin-bottom: 24px;
}

.select {
  font-size: 16px;
  font-family: inherit;
  transition: border-color 0.3s;

  background: var(--opacity-neutral-darkest-5);
  border: 2px solid var(--opacity-transparent);
  border-radius: 12px;
  padding: 8px 12px;
  width: 335px;
  height: 37px;
}

.option {
  padding: 12px 16px;
  cursor: pointer;
  transition: background 0.15s;
  color: #333;
}

.dateInput {
  font-size: 16px;
  font-family: inherit;
  transition: border-color 0.3s;

  background: var(--opacity-neutral-darkest-5);
  border: 2px solid var(--opacity-transparent);
  border-radius: 12px;
  padding: 8px 12px;
  width: 335px;
  height: 37px;
}

.dateInput:hover {
  border-color: #000;
}

.saveButton {
  border-bottom: 4px solid var(--color-scheme-accent);
  border-radius: 100px;
  padding: 10px 24px;
  width: 335px;
  height: 42px;
  background: var(--color-scheme-foreground-alt);
  margin-top: 32px;

transition: background 0.3s ease, transform 0.2s ease;
}

.saveButton:hover{
    background: var(--color-scheme-foreground);
    border-bottom: 4px solid var(--opacity-neutral-darkest-15);
}

.saveButton:active{
    background: var(--color-scheme-accent);
    transform: translateY(2px);
        border-bottom-width: 2px;
}

/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .selectContainer {
    width: 480px;
  }

  .dateInput {
    width: 480px;
  }

  .saveButton {
    width: 480px;
  }
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {
  .saveButton {
    border-bottom: 4px solid var(--color-scheme-accent);
    border-radius: 100px;
    padding: 10px 24px;
    width: 480px;
    height: 46px;
  }

  .dateInput {
    border: 1px solid var(--opacity-transparent);
    border-radius: 12px;
    padding: 8px 12px;
    width: 480px;
    height: 40px;
  }

  .selectContainer {
    width: 480px;
  }
}
