.card {
    border: 0px solid var(--color-scheme-border);
    border-radius: 32px;
    padding: 24px;
    background: var(--color-scheme-foreground);
    margin-top: 16px;
}

.babyToday {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: 0.01em;
    color: var(--color-scheme-text);
}
.top {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
}

.imageWrapper {
    border: 1px solid var(--color-scheme-border);
    border-radius: 24px;
    max-width: 287px;
    height: auto;
    margin: 16px 16px;
    overflow: hidden;
}

.row {
    margin: 0;
    line-height: 150%;
  }
  
.value {
    margin-bottom: 24px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: var(--color-scheme-text);
}

.descriprion {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: var(--color-scheme-text);
}

.params {
    margin-bottom: 24px;
    display: flex;
  flex-direction: column;
  gap: 12px;
}
.label {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    color: var(--color-scheme-text);
}


@media (min-width: 768px) {
    .card {
        margin-top: 32px;
    }
    .imageWrapper {
        max-width: 257px;
        position: relative; 
    }
    .top {
        flex-direction: row;
        align-items: center;
        gap: 16px;
      }
    .size {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0; 
    text-align: center;
    }

}

@media (min-width: 1024px) {
    .top {
        flex-direction: row;
        align-items: center;
        gap: 16px;
      }
    
      .imageWrapper {
        max-width: 257px;
        position: relative; 
    }
    .size {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0;
        text-align: center;
        font-size: 16px;
    }
    .descriprion {
        font-size: 16px;
    }
}