.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 0;
}

@media only screen and (min-width: 768px) {
  .header {
    padding: 16px 0;
  }
}

@media only screen and (min-width: 1440px) {
  .header {
    display: none;
  }
}

.logo {
  display: block;
}

.logo svg {
  display: block;
  width: 100%;
  height: 100%;
}

.burgerButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
}
