.container_baby {
  margin-top: 16px;
  border: 0px solid var(--color-scheme-border);
  border-radius: 32px;
  padding: 16px 20px 24px;
  width: 335px;
  width: 100%;
  background: var(--color-scheme-foreground);
  margin-bottom: 24px;
}

.container_image {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 32px;
}

.image {
  border: 1px solid var(--color-scheme-border);
  border-radius: 24px;
  width: 287px;
  width: 100%;
  height: 379px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
}

.text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: var(--color-scheme-text);
}

.container_text {
  width: 287px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 16px;
}

.container_fact {
  border-radius: 12px;
  padding: 12px;
  width: 287px;
  width: 100%;
  background: var(--color-scheme-foreground-alt);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
  align-items: center;
}

.container_fact_svg {
  fill: var(--color-scheme-2-text);
  width: 24px;
  height: 24px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.fact_title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  color: var(--color-scheme-text);
}

@media (min-width: 768px) {
  .container_baby {
    padding: 24px;
    width: 704px;
  }

  .image {
    width: 656px;
    height: 379px;
  }

  .container_text {
    width: 656px;
  }

  .container_fact {
    width: 656px;
  }
}

@media (min-width: 1440px) {
  .container_baby {
    width: 1064px;
    display: flex;
    flex-direction: row;
    gap: 32px;
  }

  .container_image {
    margin-bottom: 0;
  }

  .image {
    width: 461px;
    height: 379px;
  }

  .text {
    font-size: 16px;
  }

  .container_wrap {
    width: 523px;
  }

  .container_text {
    width: 523px;
    height: 280px;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-color: var(--color-scheme-accent) transparent;
  }

  .container_fact {
    width: 523px;
    height: 104px;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-color: var(--color-scheme-accent) transparent;
  }

  .fact_title {
    font-size: 16px;
  }
}
