.container_baby {
  border: 0px solid var(--color-scheme-border);
  border-radius: 32px;
  padding: 24px;
  width: 335px;
  height: 983px;
}

.container_image {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.image {
  border: 1px solid var(--color-scheme-border);
  border-radius: 24px;
  width: 287px;
  height: 379px;
}

.text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: var(--color-scheme-text);
}

.container_fact {
  border-radius: 12px;
  padding: 12px;
  width: 287px;
  min-height: 100px;
  background: var(--color-scheme-foreground-alt);
}

.svg {
}

.fact_title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  color: var(--color-scheme-text);
}
