.modal {
  --modal-max-w: 335px;
  --modal-radius: 40px;
  --modal-padding-y: 64px;
  --modal-padding-x: 20px;
  --modal-close-size: 32px;
  --modal-close-pad: 4px;
  --modal-close-top: 20px;
  --modal-close-right: 20px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 32px; */
  gap: 48px;
}

.title {
  max-width: 640px;

  font-family: var(--second-family);
  font-weight: 700;
  font-size: 36px;
  /* line-height: 1.4; */
  line-height: 120%;
  letter-spacing: 0.01em;
  text-align: center;
  color: var(--color-scheme-text);
}

.actions {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* gap: 16px; */
  gap: 24px;
  align-items: center;
}

.btn {
  /* width: 100%;
  max-width: 295px; */
  width: 268px;
}

/* tablet */
@media (min-width: 768px) {
  .modal {
    --modal-max-w: 704px;
    --modal-padding-y: 64px;
    --modal-padding-x: 32px;

    --modal-close-top: 32px;
    --modal-close-right: 32px;
  }

  /* .title {
    line-height: 1.2;
  } */

  .actions {
    flex-direction: row;
    justify-content: center;
    /* gap: 32px; */
    gap: 24px;
  }

  .btn {
    max-width: 268px;
  }
}

/* desktop */
@media (min-width: 1440px) {
  .modal {
    --modal-max-w: 768px;
    --modal-padding-y: 64px;
    --modal-padding-x: 64px;

    --modal-close-top: 25px;
    --modal-close-right: 32px;
  }

  .title {
    font-size: 48px;
    /* line-height: 1.2; */
  }
}
