/* .title {
  font-family: var(--second-family);
  font-weight: 700;
  letter-spacing: 0.01em;
  line-height: 140%;
  color: var(--color-scheme-text);
  font-size: 24px;
  text-align: left;
}

@media (min-width: 768px) {
  .title {
    font-size: 34px;
  }
}

@media (min-width: 1440px) {
  .title {
    font-size: 32px;
  }
} */

.title {
  margin-bottom: 16px;
}
